* {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: pink;
    flex-direction: column;
}

#tv-sold {
    color: green;
}

#tv-ingekocht {
    color: blue;
}

#nog-te-verkopen {
    color: red;
}

#model-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#model-info > div{
    border: 1px solid;
    width: 650px;
    margin: 1px;
    text-align: center;
    padding: 1px;
}

button {
    align-self: center;
    width: 200px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}